.takeActionPage {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background: #f1f1f1;
    height: max-content;
    min-height: 100vh;
    padding-bottom: 50px;
}
