.takeActionPage {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: #f1f1f1;
    row-gap: .2rem;
    height: max-content;
    min-height: 90vh;
    padding-bottom: 50px;
}
